body {

  background-image: url("https://image.freepik.com/free-photo/pizza-slice-black-background-with-space-text-top-view_117255-563.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    margin: 0%;
    padding: 0%;
}
