
body {

  background-image: url("https://image.freepik.com/free-photo/pizza-slice-black-background-with-space-text-top-view_117255-563.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    margin: 0%;
    padding: 0%;
}

#contactsbody {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-gourmet-pizza-big-sale-texture-hand-painted-black-banner-image_170751.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#second {
    text-align: center;
    color:white;
    margin-top:10%;
    padding-top: 5%;
    padding-bottom: 5%%;
    margin-bottom: 15%;

}
#chckout {
  display: none;
}

.headings h2 {
    font-weight: bolder;
    font-size: 30px;;
    font-family: cursive;
}
.headings p {
    font-size: 20px;;
}
.headings span {
    color: yellow;
    font-size:65px ;
}
.navbar-header {
  color: white;
  font-weight: bolder;
  font-family: cursive;
}
.navbar-header span {
  color: yellow;
}
.container-fluid img {
  height: 50px;
  width: 50px;
}
.nav {
  width:450px;
  height:30px;
  float: right;

}
.nav ul li{
  width:100px;
  color: white;
	float:left;
	margin: 10px auto;
  list-style-type:none;
  border: 1px solid black;
  }
  .nav ul li a{
    text-decoration: none;
    color:darkgray;
 }
 .nav #activeId {
   background-color: yellow;
   color: black;
 }
 #navul li:hover {
   background-color: yellow;
   color: black;
 }
 #third {
   /* display: none; */
   background-color: darkorange;
   padding-top: 10%;
   margin-top: 20px;
   padding-bottom: 10%;
   margin-bottom: 20px;
   color: black;
   text-align: center;
   font-weight: bold;

 }
 .about span{
  color: yellow;
 }
 #orderbody{
  background-image: url("https://image.freepik.com/free-photo/view-frame-with-pizza-black-background_23-2148308883.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 }
 #forth {

  padding-top: 40px;
  margin-top: 40px;
  padding-bottom: 50px;
  margin-bottom: 50px;

 }

#forth h3{
  text-align: center;
  text-decoration: underline;
}
.online-order {
margin: 2px;
background-image: url("https://us.123rf.com/450wm/jchizhe/jchizhe1703/jchizhe170300555/73234974-food-ingredients-and-spices-for-cooking-mushrooms-tomatoes-cheese-onion-oil-pepper-salt-basil-olive-.jpg?ver=6");
background-size: cover;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 30px;
color: darkgray;

}
.yourOrders {
  margin: 2px;
  background-image: url("https://us.123rf.com/450wm/jchizhe/jchizhe1703/jchizhe170300555/73234974-food-ingredients-and-spices-for-cooking-mushrooms-tomatoes-cheese-onion-oil-pepper-salt-basil-olive-.jpg?ver=6");
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 30px;
  color: white;
}

#fifth {
  padding-top: 60px;
  margin-top: 60px;
  padding-left: : 10%;
  margin-right: : 10%;
  border: 1px solid wheat;
}
#message-form h4 {
  text-align: center;
  font-weight: bolder;
  color: white;
}
#other-contacts {
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 163px;
}
#op-hours {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 169px;
  color: white;
}
.social {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}
#checkoutAnddeliver {
  background-color: black;
  color: darkgray;
  padding-bottom: 40px;
  margin-bottom: 70px;

}
.checkouts {
  display: none;
  text-align: center;
}
.checkouts h3 {
  text-align: center;
  text-decoration: underline;
  color: darkblue;
}
.addresses {
  display: none;
  text-align: center;
}
.addresses h4 {
  text-decoration: underline;
}
#grandTot {
  display: none;
  color: green;
  font-weight: bolder;
}
footer {
  color: white;
  text-align:center;
}
